//-Implement navigation links
//- Use locals.user, as implemented in the middleware, to customize the views. 
//- For example, we can use it to conditionally render links related to the user session in the layout.


body

    a(href="/") Home
    if locals.user
      a(href="/user") Profile
      a(href="/logout") Log Out
    else
      a(href="/login") Log In

    
    block content