{{!-- Creating template that renders to main layout via Handlebars --}}


<!-- Jumbotron -->
{{!-- <div class="jumbotron jumbotron-fluid" style = "background-color: black; text-align:center">
  <div class="container" id= "jumbo">
    <h1>user</h1>
    <br>
    </div> --}}
<!--Create New user -->
    {{!-- <form class="create-form">
                <div class="form-group">
                    <label for="newuser">Create A user:</label>
                    <input type="text" id="newuser" name="user">
                    <button class= "btn btn-danger btn-sm" type="submit" id="adduser">Add my user </button>
                </div>
    </form>

</div> --}}

<!--user Menu -->
{{!-- <div class="container" id= "allusers">
    <div class="row"> --}}

<!--users -->
    {{!-- <div class="col-sm-6 panel-heading"><h4 style = "text-align:center"><strong>idk</strong></h4>
                <div class="panel-body">
                <ul>
                    {{#each users}}
                        {{#unless wants}}
                           <i class="fa fa-square"><span><strong> {{this.user_name}} </strong> </span></i>
                            <button type="button" class="btn btn-success btn-sm pull-right userbutton" onkeyup= "changeToUpperCase()" style= "font-size:16px"
                            data-id="{{this.id}}" data-wants="{{devour}}">  user</button>
                            <hr>
                        {{/unless}}
                    {{/each}}
                </ul>
                </div>
        </div>


        </div>
    </div> --}}